{% extends 'base.html' %}

{% load i18n %}

{% block content %}
  <div class="EventContent">
    <h2>{{ page.title }}</h2>

    {% block page-info %}
      <div class="EventInfo">
        {% if page.category %}
        <label class="pageCategoryLabel" for="page-category-title">{%trans 'Category' %}</label>: 
        <a href="{% url pages.views.events_category page.category.slug %}" name="pageCategoryTitle" class="page-category-title">{{ page.category.title}}</a>
        {% endif %}

        <div class="pageCreated longDate">
          {{ page.published }}
        </div>
        <label class="authorLabel" for="author">{% trans 'author' %}</label>: <span name="author" class="author"> {{ page.created_by.get_full_name }} </span>
      </div>
    {% endblock %}

    <div class="EventThumb pageBody">
      {{ page.body|safe }}
    </div>
  </div>
{% endblock %}
