{% extends 'pages/category_root.html' %}
{% load i18n %}
{% load thumbnail %}
{% load siteblocks %}

{% block category-title %}
  {{ category.title }}
{% endblock %}

{% block category-items %}
  <div class="category-info">
    {% siteblock {category_description} %}
  </div>
  {% for page in pages %}
    <div class="category-item">
      <div class="eventThumb"> 
        <span class="shortDate">{{ page.event_start|date:"d M" }}</span> 
      </div>

      <div class="eventDetails"> 
        <div class="eventTitle"> 
          <a href="{% url pages.views.events_article page.slug %}">{{ page.title }}</a>
        </div>

        <div class="longDate">{{ page.event_start }}</div> 
        <label class="authorLabel" for="author">{% trans "author" %}</label>  <span name="author" class="authorName"> {{ page.author }}</span>
        <div class="eventDecription">{{ page.body|striptags|slice:":255"}} {% if page.body|striptags|length > 255 %} ...{% endif %}</div> 
      </div>
    </div>
  {% empty %}
    {% siteblock {category_description} as myvar %}
    {% if not myvar|length %}
      {% trans  'There are no articles in this category' %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block category-paginator %}
  <div class="pagination">
    <span class="step-links">
      {% if pages.has_previous %}
        <a href="?page={{ pages.previous_page_number }}"> {%trans 'Previous' %}</a>
      {% endif %}

      {% if pages.paginator.num_pages != 1 %}
        <span class="current">
          {%trans 'Page' %} {{ pages.number }} {%trans 'of' %} {{ pages.paginator.num_pages }}.
        </span>
      {% endif %}

      {% if pages.has_next %}
        <a href="?page={{ pages.next_page_number }}">{%trans 'Next' %}</a>
      {% endif %}
    </span>
  </div> 
{% endblock %}

