{% extends "base.html" %}

{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="span8 offset2 center pad-top5 pad-bottom5">
        <!-- Posts  -->
        <ul>
            {% for post in posts.object_list %}
            <div class="title">
              <a href="{% url post post.slug %}">
                {{ post.title|safe }}
              </a>
            </div>

            <ul>
              <div class="time">{{ post.created }}</div>
              <div class="body">{{ post.body|safe }}</div>
            </ul>
            {% endfor %}
        </ul>

        <!-- Next/Prev page links  -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="paginator" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
  </div>
{% endblock %}

{% block javascript %}{% endblock %}
