{% load i18n %}
<h3 class="asideTitle">{% trans 'Gallery' %}</h3>
<div  class="asideBox">

  <div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
      {% comment %}
        Create Image size for sitebar and change it here
      {% endcomment %}
      {% for photo in  lattest_photos %}
      <a href="{{ photo.get_absolute_url }}" title="{{ photo.title }}">
          <img src="{{ photo.get_thumbnail_url }}" />
        </a>
      {% endfor %}
    </div>
  </div>

</div>

