<!DOCTYPE html>
{% load i18n %}

{% spaceless %}
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block title %}Motus{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}Simmol{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# TODO: <link rel="shortcut icon" href="/media/images/favicon.ico" /> #}

    <!-- Motus -->
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
    <link rel="stylesheet" href="/media/js/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/media/js/nivo-slider.css" />
    <!-- Motus -->


    <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
        filter: none;
      }
    </style>
    <![endif]-->
    {% block extra_head %}{% endblock %}
    <script src="/media/js/modernizr-2.5.3.min.js"></script>
</head>

<body class="body">
  {% if messages %}
      <div class="span4 center msgs">
      {% for message in messages %}
      <h4>{{ message }}</h4>
      {% endfor %}
      </div>
  {% endif %}
  <!-- PROMPT IE 6 USERS TO INSTALL CHROME FRAME. REMOVE THIS IF YOU SUPPORT IE 6.
  chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <!--Block Content-->

  <header id="Header">
    <div id="Wrapper">
      <h1><a href="" id="Logo"></a></h1>
      <nav id="mainMenu" class="clear">
        {% load tree_menu_tags %}
        {% show_menu "Main Navigation" "ordered-list" %}
        <ul>
          <li>
            <form action="/i18n/setlang/" method="post">{% csrf_token %}
              <input name="next" type="hidden" value="" />
              <select name="language">
                {% for lang in LANGUAGES %}
                  <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %}  selected="selected" {% endifequal %} >{{ lang.1 }}</option>
                {% endfor %}
              </select>
              <input type="submit" value="Go" />
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="Wrapper">
    <section id="Content" class="clear">
      <aside id="leftColumn">
        <h3 class="asideTitle">Events</h3>
        <div  class="asideBox">
          <ul class="eventList">
            <li><a href="">Summer camp</a></li>
            <li><a href="">Instead, a dial spins
              to the forecast of the day,
              showing an icon of clouds.</a>
            </li>
            <li><a href="">Instead, a dial spins
              to the forecast of the day,
              showing an icon of clouds.</a>
            </li>
            <li><a href="">Instead, a dial spins
              to the forecast of the day,
              showing an icon of clouds.</a>
            </li>
          </ul>
        </div>
        <h3 class="asideTitle">Gallery</h3>
        <div  class="asideBox">
          <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
              <img src="/media/photos/king-arthur-sword.jpg" alt="Photo" />
              <img src="/media/photos/history-of-Viking-swords.jpg" alt="Photo" />
              <img src="/media/photos/2001-lion-crest-sword.png" alt="Photo" />
            </div>
          </div>
        </div>
        <h3 class="asideTitle">Social networks</h3>
        <div  class="asideBox"></div>
      </aside>
      <section id="rightColumn">
        {% block content %} {% endblock%}
      </section>

    </section>
    </div>
    <footer id="Footer">
      <div id="Wrapper">
        <nav id="footerNav">
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">About us</a>
            </li>
            <li>
              <a href="">News</a>
            </li>
            <li>
              <a href="">Services</a>
            </li>
            <li>
              <a href="">Services</a>
            </li>
          </ul>
        </nav>
        <p id="copyright">&copy; Motus 2012 All rights reserved</p>
      </div>
    </footer>
  <script type="text/javascript" src="/media/js/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="/media/js/jquery.nivo.slider.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#slider').nivoSlider();
    });
  </script>

  </body>
{% endspaceless %}
</html>

