{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% trans "All Galleries" %}{% endblock %}

{% block content %}

  <h2 class="mainGallery">{% trans "All galleries" %}</h2>

  {% for gallery in object_list %}
    <div class="photo-gallery">
      <h3 class="galleryTitle"><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h3>
      {% for photo in gallery.sample|slice:":1" %}
        <div class="gallery-photo">
          <a href="{{ gallery.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
        </div>
      {% endfor %}
    </div>
  {% empty %}
    <p>{% trans "No galleries were found." %}</p>
  {% endfor %}

  {% if is_paginated %}
    <p>{{ hits }} {% trans "galleries total." %}</p>
    <div id="page_controls">
      <p>{% if has_previous %}<a href="{% url pl-gallery-list previous %}">{% trans "Previous" %}</a> | {% endif %} {% trans "page" %} {{ page }} {% trans "of" %} {{ pages }} {% if has_next %}| <a href="{% url pl-gallery-list next %}">{% trans "Next" %}</a>{% endif %}</p>
    </div>
  {% endif %}

{% endblock %}
